# AkbankPos
AKBANKPOS_MERCHANT_ID=
AKBANKPOS_TERMINAL_ID=
AKBANKPOS_API_KEY=
# AkbankPos - Tekrarlanan Ödeme Hesabı
AKBANKPOS_RECURRING_MERCHANT_ID=
AKBANKPOS_RECURRING_TERMINAL_ID=
AKBANKPOS_RECURRING_API_KEY=

# GarantiPos
GARANTI_MERCHANT_ID=
GARANTI_USERNAME=
GARANTI_PASSWORD=
GARANTI_TERMINAL_ID=
GARANTI_STORE_KEY=
GARANTI_REFUND_USERNAME=
GARANTI_REFUND_PASSWORD=

# Asseco/Payten (AssecoPos eski EstV3Pos)
ASSECO_CLIENT_ID=
ASSECO_USERNAME=
ASSECO_PASSWORD=
ASSECO_STORE_KEY=

# InterPos (DenizBank)
INTERPOS_SHOP_CODE=
INTERPOS_USER_CODE=
INTERPOS_USER_PASS=
INTERPOS_MERCHANT_PASS=

# FinansBank PayFor (QNB)
FINANSBANK_MERCHANT_ID=
FINANSBANK_USERNAME=
FINANSBANK_PASSWORD=
FINANSBANK_STORE_KEY=

# FinansBank PayFor - QR Ödeme
FINANSBANK_QR_MERCHANT_ID=
FINANSBANK_QR_USERNAME=
FINANSBANK_QR_PASSWORD=
FINANSBANK_QR_STORE_KEY=

# PayFlexCPV4 (VakıfBank CP)
PAYFLEX_CP_MERCHANT_ID=
PAYFLEX_CP_TERMINAL_ID=
PAYFLEX_CP_MERCHANT_PASSWORD=

# PayFlexMPIV4 (VakıfBank MPI)
PAYFLEX_MPI_MERCHANT_ID=
PAYFLEX_MPI_TERMINAL_ID=
PAYFLEX_MPI_MERCHANT_PASSWORD=

# KuveytPos
KUVEYTPOS_MERCHANT_ID=
KUVEYTPOS_USERNAME=
KUVEYTPOS_CUSTOMER_NUMBER=
KUVEYTPOS_PASSWORD=

# Vakıf Katılım
VAKIF_KATILIM_MERCHANT_ID=
VAKIF_KATILIM_USERNAME=
VAKIF_KATILIM_CUSTOMER_NUMBER=
VAKIF_KATILIM_PASSWORD=

# Tosla
TOSLA_MERCHANT_ID=
TOSLA_USERNAME=
TOSLA_PASSWORD=

# PosNet V1 (Albaraka)
# 10 haneli üye işyeri numarası
POSNET_V1_MERCHANT_ID=
# 8 haneli üye işyeri terminal numarası
POSNET_V1_TERMINAL_ID=
# 16 haneli üye işyeri EPOS numarası
POSNET_V1_POS_ID=

# PosNet YKB (YapıKredi)
POSNET_YKB_MERCHANT_ID=
POSNET_YKB_TERMINAL_ID=
POSNET_YKB_POS_ID=

# ParamPos
# CLIENT_CODE Terminal ID
PARAMPOS_MERCHANT_ID=
# CLIENT_USERNAME Kullanıcı adı
PARAMPOS_USERNAME=
# CLIENT_PASSWORD Şifre
PARAMPOS_PASSWORD=
# GUID Üye İşyeri ait anahtarı
PARAMPOS_CLIENT_SECRET=

# ParamPos 3D Host
PARAMPOS_3DHOST_MERCHANT_ID=
PARAMPOS_3DHOST_USERNAME=
PARAMPOS_3DHOST_PASSWORD=
PARAMPOS_3DHOST_CLIENT_SECRET=

# Iyzico
IYZICO_API_KEY=
IYZICO_SECRET_KEY=

# PayTR
PAYTR_MERCHANT_ID=
PAYTR_MERCHANT_KEY=
PAYTR_MERCHANT_SALT=
